

<div class="wrapper wrapper-full-page">
        <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('../../assets/img/header-doc.jpg'); background-size: cover; background-position: top center;">
          <div class="container">
            <div class="col-md-4 col-sm-6 ml-auto mr-auto">
              <form class="form" (ngSubmit)="doLogin()" #f="ngForm" novalidate>
                <div class="card card-login">
                  <div class="card-header card-header-rose text-center">
                    <h4 class="card-title">Log in</h4>
                  </div>
                  <div class="card-body "> 
                    <span class="bmd-form-group">
                    </span>
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">email</i>
                          </span>
                        </div>
                        <input [(ngModel)]="loginInfo.email" name="email" type="email" class="form-control" placeholder="Email...">
                      </div>
                    </span>
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input [(ngModel)]="loginInfo.password" name="password" type="password" class="form-control" placeholder="Password...">
                      </div>
                    </span>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            {{errorMessage}}
                          </span>
                        </div>
                        
                      </div>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a class="btn btn-rose btn-link btn-lg" [routerLink]="['/signup']">REGISTER</a>
                    <!-- <a class="btn btn-rose btn-md" [routerLink]="['/']">LOGIN</a> -->
                    <button type="submit" class="btn btn-rose btn-md">LOGIN</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
 

